{
  "swagger": "2.0",
  "schemes": ["https"],
  "info": {
    "description": "This is a JSON API compliant implementation",
    "title": "Umami Food Magazine API - JSON API",
    "version": "Versioning not supported"
  },
  "host": "trobada.eu",
  "basePath": "/api",
  "securityDefinitions": {
    "csrf_token": {
      "type": "apiKey",
      "name": "X-CSRF-Token",
      "in": "header",
      "x-tokenUrl": "https://trobada.eu/user/token"
    }
  },
  "security": { "csrf_token": [] },
  "tags": [
    { "name": "Block", "description": "Configuration entity Block" },
    {
      "name": "Custom block - Banner block",
      "description": "Custom block type Banner block of type Custom block. A banner block contains a title, summary, link to content and a background image. The background image is scaled to fill the browser\u0027s width.",
      "x-entity-type": "block_content",
      "x-definition": { "$ref": "#/definitions/block_content--banner_block" }
    },
    {
      "name": "Custom block - Basic block",
      "description": "Custom block type Basic block of type Custom block. A basic block contains a title and a body.",
      "x-entity-type": "block_content",
      "x-definition": { "$ref": "#/definitions/block_content--basic" }
    },
    {
      "name": "Custom block - Disclaimer block",
      "description": "Custom block type Disclaimer block of type Custom block. A disclaimer block contains disclaimer and copyright text.",
      "x-entity-type": "block_content",
      "x-definition": {
        "$ref": "#/definitions/block_content--disclaimer_block"
      }
    },
    {
      "name": "Custom block - Footer promo block",
      "description": "Custom block type Footer promo block of type Custom block. A footer promo block contains a title, promo text, and a \u0022find out more\u0022 link.",
      "x-entity-type": "block_content",
      "x-definition": {
        "$ref": "#/definitions/block_content--footer_promo_block"
      }
    },
    {
      "name": "Custom block type",
      "description": "Configuration entity Custom block type"
    },
    {
      "name": "Contact form",
      "description": "Configuration entity Contact form"
    },
    {
      "name": "Contact message - Website feedback",
      "description": "Contact form Website feedback of type Contact message.",
      "x-entity-type": "contact_message",
      "x-definition": { "$ref": "#/definitions/contact_message--feedback" }
    },
    {
      "name": "Contact message - Personal contact form",
      "description": "Contact form Personal contact form of type Contact message.",
      "x-entity-type": "contact_message",
      "x-definition": { "$ref": "#/definitions/contact_message--personal" }
    },
    { "name": "Content moderation state" },
    {
      "name": "Text Editor",
      "description": "Configuration entity Text Editor"
    },
    { "name": "Field", "description": "Configuration entity Field" },
    {
      "name": "Field storage",
      "description": "Configuration entity Field storage"
    },
    { "name": "File" },
    {
      "name": "Text format",
      "description": "Configuration entity Text format"
    },
    {
      "name": "Image style",
      "description": "Configuration entity Image style"
    },
    {
      "name": "JSON:API Resource override",
      "description": "Configuration entity JSON:API Resource override"
    },
    {
      "name": "Content Language Settings",
      "description": "Configuration entity Content Language Settings"
    },
    { "name": "Language", "description": "Configuration entity Language" },
    {
      "name": "Media - Audio",
      "description": "Media type Audio of type Media. A locally hosted audio file.",
      "x-entity-type": "media",
      "x-definition": { "$ref": "#/definitions/media--audio" }
    },
    {
      "name": "Media - Document",
      "description": "Media type Document of type Media. An uploaded file or document, such as a PDF.",
      "x-entity-type": "media",
      "x-definition": { "$ref": "#/definitions/media--document" }
    },
    {
      "name": "Media - Image",
      "description": "Media type Image of type Media. Use local images for reusable media.",
      "x-entity-type": "media",
      "x-definition": { "$ref": "#/definitions/media--image" }
    },
    {
      "name": "Media - Remote video",
      "description": "Media type Remote video of type Media. A remotely hosted video from YouTube or Vimeo.",
      "x-entity-type": "media",
      "x-definition": { "$ref": "#/definitions/media--remote_video" }
    },
    {
      "name": "Media - Video",
      "description": "Media type Video of type Media. A locally hosted video file.",
      "x-entity-type": "media",
      "x-definition": { "$ref": "#/definitions/media--video" }
    },
    { "name": "Media type", "description": "Configuration entity Media type" },
    {
      "name": "Content type",
      "description": "Configuration entity Content type"
    },
    {
      "name": "Content - Article",
      "description": "Content type Article of type Content. Use \u003Cem\u003Earticles\u003C/em\u003E for time-sensitive content like news, press releases or blog posts.",
      "x-entity-type": "node",
      "x-definition": { "$ref": "#/definitions/node--article" }
    },
    {
      "name": "Content - Basic page",
      "description": "Content type Basic page of type Content. Use \u003Cem\u003Ebasic pages\u003C/em\u003E for your static content, such as an \u0027About us\u0027 page.",
      "x-entity-type": "node",
      "x-definition": { "$ref": "#/definitions/node--page" }
    },
    {
      "name": "Content - Recipe",
      "description": "Content type Recipe of type Content. Add a new recipe to the site.",
      "x-entity-type": "node",
      "x-definition": { "$ref": "#/definitions/node--recipe" }
    },
    {
      "name": "Content - Testclass",
      "description": "Content type Testclass of type Content. Test propouses",
      "x-entity-type": "node",
      "x-definition": { "$ref": "#/definitions/node--testclass" }
    },
    { "name": "URL alias" },
    {
      "name": "RDF mapping",
      "description": "Configuration entity RDF mapping"
    },
    {
      "name": "Responsive image style",
      "description": "Configuration entity Responsive image style"
    },
    {
      "name": "Search page",
      "description": "Configuration entity Search page"
    },
    {
      "name": "Shortcut link - Default",
      "description": "Shortcut set Default of type Shortcut link.",
      "x-entity-type": "shortcut",
      "x-definition": { "$ref": "#/definitions/shortcut--default" }
    },
    {
      "name": "Shortcut set",
      "description": "Configuration entity Shortcut set"
    },
    { "name": "Menu", "description": "Configuration entity Menu" },
    { "name": "Action", "description": "Configuration entity Action" },
    {
      "name": "Taxonomy term - Recipe category",
      "description": "Vocabulary Recipe category of type Taxonomy term. Use this taxonomy to group recipes of the same type together.",
      "x-entity-type": "taxonomy_term",
      "x-definition": { "$ref": "#/definitions/taxonomy_term--recipe_category" }
    },
    {
      "name": "Taxonomy term - Tags",
      "description": "Vocabulary Tags of type Taxonomy term. Use tags to group articles on similar topics into categories.",
      "x-entity-type": "taxonomy_term",
      "x-definition": { "$ref": "#/definitions/taxonomy_term--tags" }
    },
    {
      "name": "Taxonomy vocabulary",
      "description": "Configuration entity Taxonomy vocabulary"
    },
    { "name": "Tour", "description": "Configuration entity Tour" },
    { "name": "User" },
    { "name": "Role", "description": "Configuration entity Role" },
    { "name": "Workflow", "description": "Configuration entity Workflow" },
    { "name": "Custom menu link" },
    { "name": "View", "description": "Configuration entity View" },
    { "name": "View mode", "description": "Configuration entity View mode" },
    { "name": "Form mode", "description": "Configuration entity Form mode" },
    {
      "name": "Entity form display",
      "description": "Configuration entity Entity form display"
    },
    {
      "name": "Entity view display",
      "description": "Configuration entity Entity view display"
    },
    {
      "name": "Base field override",
      "description": "Configuration entity Base field override"
    },
    { "name": "Date format", "description": "Configuration entity Date format" }
  ],
  "definitions": {
    "block_content--banner_block": {
      "title": "block_content:banner_block Schema",
      "description": "Describes the payload for \u0027block_content\u0027 entities of the \u0027banner_block\u0027 bundle.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["block_content--banner_block"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__id": {
                  "type": "integer",
                  "title": "Custom block ID",
                  "description": "The custom block ID."
                },
                "drupal_internal__revision_id": {
                  "type": "integer",
                  "title": "Revision ID",
                  "description": "The revision ID."
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language",
                  "description": "The custom block language code."
                },
                "revision_created": {
                  "type": "number",
                  "title": "Revision create time",
                  "format": "utc-millisec",
                  "description": "The time that the current revision was created."
                },
                "revision_log": {
                  "type": "string",
                  "title": "Revision log message",
                  "description": "The log entry explaining the changes in this revision.",
                  "default": ""
                },
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "info": {
                  "type": "string",
                  "title": "Block description",
                  "maxLength": 255,
                  "description": "A brief description of your block."
                },
                "changed": {
                  "type": "number",
                  "title": "Changed",
                  "format": "utc-millisec",
                  "description": "The time that the custom block was last edited."
                },
                "reusable": {
                  "type": "boolean",
                  "title": "Reusable",
                  "description": "A boolean indicating whether this block is reusable.",
                  "default": true
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                },
                "content_translation_source": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Translation source",
                  "description": "The source language from which this translation was created.",
                  "default": "und"
                },
                "content_translation_outdated": {
                  "type": "boolean",
                  "title": "Translation outdated",
                  "description": "A boolean indicating whether this translation needs to be updated.",
                  "default": false
                },
                "content_translation_created": {
                  "type": "number",
                  "title": "Translation created time",
                  "format": "utc-millisec",
                  "description": "The Unix timestamp when the translation was created."
                },
                "field_content_link": {
                  "type": "object",
                  "properties": {
                    "uri": { "type": "uri", "title": "URI" },
                    "title": { "type": "string", "title": "Link text" }
                  },
                  "title": "Content Link"
                },
                "field_summary": { "type": "string", "title": "Summary" },
                "field_title": {
                  "type": "string",
                  "title": "Title",
                  "maxLength": 255
                }
              },
              "required": ["info", "revision_translation_affected"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "block_content_type": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["block_content_type--block_content_type"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Block type"
                },
                "revision_user": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Revision user"
                },
                "content_translation_uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Translation author"
                },
                "field_media_image": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["media--image"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Media Image"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "block_content--basic": {
      "title": "block_content:basic Schema",
      "description": "Describes the payload for \u0027block_content\u0027 entities of the \u0027basic\u0027 bundle.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["block_content--basic"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__id": {
                  "type": "integer",
                  "title": "Custom block ID",
                  "description": "The custom block ID."
                },
                "drupal_internal__revision_id": {
                  "type": "integer",
                  "title": "Revision ID",
                  "description": "The revision ID."
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language",
                  "description": "The custom block language code."
                },
                "revision_created": {
                  "type": "number",
                  "title": "Revision create time",
                  "format": "utc-millisec",
                  "description": "The time that the current revision was created."
                },
                "revision_log": {
                  "type": "string",
                  "title": "Revision log message",
                  "description": "The log entry explaining the changes in this revision.",
                  "default": ""
                },
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "info": {
                  "type": "string",
                  "title": "Block description",
                  "maxLength": 255,
                  "description": "A brief description of your block."
                },
                "changed": {
                  "type": "number",
                  "title": "Changed",
                  "format": "utc-millisec",
                  "description": "The time that the custom block was last edited."
                },
                "reusable": {
                  "type": "boolean",
                  "title": "Reusable",
                  "description": "A boolean indicating whether this block is reusable.",
                  "default": true
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                },
                "content_translation_source": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Translation source",
                  "description": "The source language from which this translation was created.",
                  "default": "und"
                },
                "content_translation_outdated": {
                  "type": "boolean",
                  "title": "Translation outdated",
                  "description": "A boolean indicating whether this translation needs to be updated.",
                  "default": false
                },
                "content_translation_created": {
                  "type": "number",
                  "title": "Translation created time",
                  "format": "utc-millisec",
                  "description": "The Unix timestamp when the translation was created."
                },
                "body": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Text" },
                    "format": { "type": "string", "title": "Text format" },
                    "summary": { "type": "string", "title": "Summary" }
                  },
                  "required": ["value"],
                  "title": "Body"
                }
              },
              "required": ["info", "revision_translation_affected"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "block_content_type": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["block_content_type--block_content_type"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Block type"
                },
                "revision_user": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Revision user"
                },
                "content_translation_uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Translation author"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "block_content--disclaimer_block": {
      "title": "block_content:disclaimer_block Schema",
      "description": "Describes the payload for \u0027block_content\u0027 entities of the \u0027disclaimer_block\u0027 bundle.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["block_content--disclaimer_block"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__id": {
                  "type": "integer",
                  "title": "Custom block ID",
                  "description": "The custom block ID."
                },
                "drupal_internal__revision_id": {
                  "type": "integer",
                  "title": "Revision ID",
                  "description": "The revision ID."
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language",
                  "description": "The custom block language code."
                },
                "revision_created": {
                  "type": "number",
                  "title": "Revision create time",
                  "format": "utc-millisec",
                  "description": "The time that the current revision was created."
                },
                "revision_log": {
                  "type": "string",
                  "title": "Revision log message",
                  "description": "The log entry explaining the changes in this revision.",
                  "default": ""
                },
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "info": {
                  "type": "string",
                  "title": "Block description",
                  "maxLength": 255,
                  "description": "A brief description of your block."
                },
                "changed": {
                  "type": "number",
                  "title": "Changed",
                  "format": "utc-millisec",
                  "description": "The time that the custom block was last edited."
                },
                "reusable": {
                  "type": "boolean",
                  "title": "Reusable",
                  "description": "A boolean indicating whether this block is reusable.",
                  "default": true
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                },
                "content_translation_source": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Translation source",
                  "description": "The source language from which this translation was created.",
                  "default": "und"
                },
                "content_translation_outdated": {
                  "type": "boolean",
                  "title": "Translation outdated",
                  "description": "A boolean indicating whether this translation needs to be updated.",
                  "default": false
                },
                "content_translation_created": {
                  "type": "number",
                  "title": "Translation created time",
                  "format": "utc-millisec",
                  "description": "The Unix timestamp when the translation was created."
                },
                "field_copyright": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Text" },
                    "format": { "type": "string", "title": "Text format" }
                  },
                  "required": ["value"],
                  "title": "Copyright"
                },
                "field_disclaimer": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Text" },
                    "format": { "type": "string", "title": "Text format" }
                  },
                  "required": ["value"],
                  "title": "Disclaimer"
                }
              },
              "required": ["info", "revision_translation_affected"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "block_content_type": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["block_content_type--block_content_type"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Block type"
                },
                "revision_user": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Revision user"
                },
                "content_translation_uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Translation author"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "block_content--footer_promo_block": {
      "title": "block_content:footer_promo_block Schema",
      "description": "Describes the payload for \u0027block_content\u0027 entities of the \u0027footer_promo_block\u0027 bundle.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["block_content--footer_promo_block"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__id": {
                  "type": "integer",
                  "title": "Custom block ID",
                  "description": "The custom block ID."
                },
                "drupal_internal__revision_id": {
                  "type": "integer",
                  "title": "Revision ID",
                  "description": "The revision ID."
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language",
                  "description": "The custom block language code."
                },
                "revision_created": {
                  "type": "number",
                  "title": "Revision create time",
                  "format": "utc-millisec",
                  "description": "The time that the current revision was created."
                },
                "revision_log": {
                  "type": "string",
                  "title": "Revision log message",
                  "description": "The log entry explaining the changes in this revision.",
                  "default": ""
                },
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "info": {
                  "type": "string",
                  "title": "Block description",
                  "maxLength": 255,
                  "description": "A brief description of your block."
                },
                "changed": {
                  "type": "number",
                  "title": "Changed",
                  "format": "utc-millisec",
                  "description": "The time that the custom block was last edited."
                },
                "reusable": {
                  "type": "boolean",
                  "title": "Reusable",
                  "description": "A boolean indicating whether this block is reusable.",
                  "default": true
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                },
                "content_translation_source": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Translation source",
                  "description": "The source language from which this translation was created.",
                  "default": "und"
                },
                "content_translation_outdated": {
                  "type": "boolean",
                  "title": "Translation outdated",
                  "description": "A boolean indicating whether this translation needs to be updated.",
                  "default": false
                },
                "content_translation_created": {
                  "type": "number",
                  "title": "Translation created time",
                  "format": "utc-millisec",
                  "description": "The Unix timestamp when the translation was created."
                },
                "field_content_link": {
                  "type": "object",
                  "properties": {
                    "uri": { "type": "uri", "title": "URI" },
                    "title": { "type": "string", "title": "Link text" }
                  },
                  "title": "Find out more link"
                },
                "field_summary": { "type": "string", "title": "Promo text" },
                "field_title": {
                  "type": "string",
                  "title": "Promo title",
                  "maxLength": 255
                }
              },
              "required": ["info", "revision_translation_affected"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "block_content_type": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["block_content_type--block_content_type"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Block type"
                },
                "revision_user": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Revision user"
                },
                "content_translation_uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Translation author"
                },
                "field_media_image": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["media--image"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Media Image"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "contact_message--feedback": {
      "title": "contact_message:feedback Schema",
      "description": "Describes the payload for \u0027contact_message\u0027 entities of the \u0027feedback\u0027 bundle.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["contact_message--feedback"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language",
                  "description": "The message language code."
                },
                "name": {
                  "type": "string",
                  "title": "The sender\u0027s name",
                  "maxLength": 255,
                  "description": "The name of the person that is sending the contact message."
                },
                "mail": {
                  "type": "string",
                  "title": "The sender\u0027s email",
                  "format": "email",
                  "description": "The email of the person that is sending the contact message."
                },
                "subject": {
                  "type": "string",
                  "title": "Subject",
                  "maxLength": 100
                },
                "message": { "type": "string", "title": "Message" },
                "copy": {
                  "type": "boolean",
                  "title": "Copy",
                  "description": "Whether to send a copy of the message to the sender."
                }
              },
              "required": ["subject", "message"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "contact_form": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["contact_form--contact_form"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Form ID"
                },
                "recipient": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Recipient ID"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "contact_message--personal": {
      "title": "contact_message:personal Schema",
      "description": "Describes the payload for \u0027contact_message\u0027 entities of the \u0027personal\u0027 bundle.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["contact_message--personal"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language",
                  "description": "The message language code."
                },
                "name": {
                  "type": "string",
                  "title": "The sender\u0027s name",
                  "maxLength": 255,
                  "description": "The name of the person that is sending the contact message."
                },
                "mail": {
                  "type": "string",
                  "title": "The sender\u0027s email",
                  "format": "email",
                  "description": "The email of the person that is sending the contact message."
                },
                "subject": {
                  "type": "string",
                  "title": "Subject",
                  "maxLength": 100
                },
                "message": { "type": "string", "title": "Message" },
                "copy": {
                  "type": "boolean",
                  "title": "Copy",
                  "description": "Whether to send a copy of the message to the sender."
                }
              },
              "required": ["subject", "message"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "contact_form": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["contact_form--contact_form"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Form ID"
                },
                "recipient": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Recipient ID"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "content_moderation_state--content_moderation_state": {
      "title": "content_moderation_state Schema",
      "description": "Describes the payload for \u0027content_moderation_state\u0027 entities.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["content_moderation_state--content_moderation_state"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__id": { "type": "integer", "title": "ID" },
                "drupal_internal__revision_id": {
                  "type": "integer",
                  "title": "Revision ID"
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language"
                },
                "moderation_state": {
                  "type": "string",
                  "title": "Moderation state",
                  "maxLength": 255,
                  "description": "The moderation state of the referenced content."
                },
                "content_entity_type_id": {
                  "type": "string",
                  "title": "Content entity type ID",
                  "maxLength": 32,
                  "description": "The ID of the content entity type this moderation state is for."
                },
                "content_entity_id": {
                  "type": "integer",
                  "title": "Content entity ID",
                  "description": "The ID of the content entity this moderation state is for."
                },
                "content_entity_revision_id": {
                  "type": "integer",
                  "title": "Content entity revision ID",
                  "description": "The revision ID of the content entity this moderation state is for."
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                }
              },
              "required": [
                "moderation_state",
                "content_entity_type_id",
                "content_entity_id",
                "content_entity_revision_id",
                "revision_translation_affected"
              ]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "User"
                },
                "workflow": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["workflow--workflow"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Workflow"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "file--file": {
      "title": "file Schema",
      "description": "Describes the payload for \u0027file\u0027 entities.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["file--file"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__fid": {
                  "type": "integer",
                  "title": "File ID",
                  "description": "The file ID."
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language code",
                  "description": "The file language code."
                },
                "filename": {
                  "type": "string",
                  "title": "Filename",
                  "maxLength": 255,
                  "description": "Name of the file with no path components."
                },
                "uri": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "uri",
                      "title": "URI value",
                      "maxLength": 255
                    },
                    "url": {
                      "type": "string",
                      "title": "Root-relative file URL"
                    }
                  },
                  "required": ["value", "url"],
                  "title": "URI",
                  "description": "The URI to access the file (either local or remote)."
                },
                "filemime": {
                  "type": "string",
                  "title": "File MIME type",
                  "maxLength": 255,
                  "description": "The file\\\u0027s MIME type."
                },
                "filesize": {
                  "type": "integer",
                  "title": "File size",
                  "description": "The size of the file in bytes."
                },
                "status": {
                  "type": "boolean",
                  "title": "Status",
                  "description": "The status of the file, temporary (FALSE) and permanent (TRUE).",
                  "default": false
                },
                "created": {
                  "type": "number",
                  "title": "Created",
                  "format": "utc-millisec",
                  "description": "The timestamp that the file was created."
                },
                "changed": {
                  "type": "number",
                  "title": "Changed",
                  "format": "utc-millisec",
                  "description": "The timestamp that the file was last changed."
                }
              },
              "required": []
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "User ID"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "jsonapi": {
          "description": "An object describing the server\u0027s implementation",
          "type": "object",
          "properties": {
            "version": { "type": "string" },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        }
      },
      "additionalProperties": true
    },
    "media--audio": {
      "title": "media:audio Schema",
      "description": "Describes the payload for \u0027media\u0027 entities of the \u0027audio\u0027 bundle.",
      "type": "object",
      "required": ["data"],
      "properties": {
        "data": {
          "description": "\\\u0022Resource objects\\\u0022 appear in a JSON:API document to represent resources.",
          "type": "object",
          "required": ["type", "id"],
          "properties": {
            "type": {
              "type": "string",
              "title": "type",
              "description": "Resource type",
              "enum": ["media--audio"]
            },
            "id": {
              "type": "string",
              "title": "Resource ID",
              "format": "uuid",
              "maxLength": 128
            },
            "attributes": {
              "description": "Entity attributes",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "drupal_internal__mid": { "type": "integer", "title": "ID" },
                "drupal_internal__vid": {
                  "type": "integer",
                  "title": "Revision ID"
                },
                "langcode": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Language"
                },
                "revision_created": {
                  "type": "number",
                  "title": "Revision create time",
                  "format": "utc-millisec",
                  "description": "The time that the current revision was created."
                },
                "revision_log_message": {
                  "type": "string",
                  "title": "Revision log message",
                  "description": "Briefly describe the changes you have made.",
                  "default": ""
                },
                "status": {
                  "type": "boolean",
                  "title": "Published",
                  "default": true
                },
                "name": {
                  "type": "string",
                  "title": "Name",
                  "maxLength": 255,
                  "default": ""
                },
                "created": {
                  "type": "number",
                  "title": "Authored on",
                  "format": "utc-millisec",
                  "description": "The time the media item was created."
                },
                "changed": {
                  "type": "number",
                  "title": "Changed",
                  "format": "utc-millisec",
                  "description": "The time the media item was last edited."
                },
                "default_langcode": {
                  "type": "boolean",
                  "title": "Default translation",
                  "description": "A flag indicating whether this is the default translation.",
                  "default": true
                },
                "revision_default": {
                  "type": "boolean",
                  "title": "Default revision",
                  "description": "A flag indicating whether this was a default revision when it was saved."
                },
                "revision_translation_affected": {
                  "type": "boolean",
                  "title": "Revision translation affected",
                  "description": "Indicates if the last edit of a translation belongs to current revision."
                },
                "path": {
                  "type": "object",
                  "properties": {
                    "alias": { "type": "string", "title": "Path alias" },
                    "pid": { "type": "integer", "title": "Path id" },
                    "langcode": { "type": "string", "title": "Language Code" }
                  },
                  "title": "URL alias"
                },
                "content_translation_source": {
                  "type": "object",
                  "properties": {
                    "value": { "type": "string", "title": "Language code" },
                    "language": {
                      "type": "language_reference",
                      "title": "Language object",
                      "description": "The referenced language"
                    }
                  },
                  "required": ["value"],
                  "title": "Translation source",
                  "description": "The source language from which this translation was created.",
                  "default": "und"
                },
                "content_translation_outdated": {
                  "type": "boolean",
                  "title": "Translation outdated",
                  "description": "A boolean indicating whether this translation needs to be updated.",
                  "default": false
                }
              },
              "required": ["name", "revision_translation_affected", "path"]
            },
            "relationships": {
              "description": "Entity relationships",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "bundle": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["media_type--media_type"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Media type"
                },
                "revision_user": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Revision user"
                },
                "uid": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["user--user"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Authored by"
                },
                "thumbnail": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["file--file"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Thumbnail"
                },
                "field_media_audio_file": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["type", "id"],
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "Referenced resource",
                          "enum": ["file--file"]
                        },
                        "id": {
                          "type": "string",
                          "title": "Resource ID",
                          "format": "uuid",
                          "maxLength": 128
                        }
                      }
                    }
                  },
                  "title": "Audio file"
                }
              },
              "required": []
            },
            "links": {
              "type": "object",
              "additionalProperties": {
                "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
                "type": "object",
                "required": ["href"],
                "properties": {
                  "href": {
                    "description": "A string containing the link\u0027s URL . ",
                    "type": "string",
                    "format": "uri - reference"
                  },
                  "meta": {
                    "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            },
            "meta": {
              "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
              "type": "object",
              "additionalProperties": true
            }
          },
          "additionalProperties": false
        },
        "meta": {
          "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
          "type": "object",
          "additionalProperties": true
        },
        "links": {
          "type": "object",
          "additionalProperties": {
            "description": "A link **MUST** be represented as either: a string containing the link\u0027s URL or a link object . ",
            "type": "object",
            "required": ["href"],
            "properties": {
              "href": {
                "description": "A string containing the link\u0027s URL . ",
                "type": "string",
                "format": "uri - reference"
              },
              "meta": {
                "description": "Non-standard meta-information that can not be represented as an attribute or relationship.",
                "type": "object",
                "additionalProperties": true
[...]
