<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="CMS discover target platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
			<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.16/"/>
			<unit id="org.eclipse.platform.ide" version="4.16.0.I20200604-0540"/>
			<unit id="org.eclipse.platform.sdk" version="4.16.0.I20200604-0540"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2020-06"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.22.0.v20200519-1135"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/composite/marketplace/"/>
			<unit id="org.eclipse.xtend.sdk.feature.group" version="2.25.0.v20210301-1429"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210301-1429"/>
		</location>
	</locations>
	<includeBundles>
		<feature id="org.eclipse.e4.rcp"/>
		<feature id="org.eclipse.e4.rcp.source"/>
		<feature id="org.eclipse.ecf.core.feature"/>
		<feature id="org.eclipse.ecf.core.ssl.feature"/>
		<feature id="org.eclipse.ecf.filetransfer.feature"/>
		<feature id="org.eclipse.ecf.filetransfer.httpclient45.feature"/>
		<feature id="org.eclipse.ecf.filetransfer.ssl.feature"/>
		<feature id="org.eclipse.emf"/>
		<feature id="org.eclipse.emf.codegen"/>
		<feature id="org.eclipse.emf.codegen.ecore"/>
		<feature id="org.eclipse.emf.codegen.ecore.source"/>
		<feature id="org.eclipse.emf.codegen.ecore.ui"/>
		<feature id="org.eclipse.emf.codegen.ecore.ui.source"/>
		<feature id="org.eclipse.emf.codegen.source"/>
		<feature id="org.eclipse.emf.codegen.ui"/>
		<feature id="org.eclipse.emf.codegen.ui.source"/>
		<feature id="org.eclipse.emf.common"/>
		<feature id="org.eclipse.emf.common.source"/>
		<feature id="org.eclipse.emf.common.ui"/>
		<feature id="org.eclipse.emf.common.ui.source"/>
		<feature id="org.eclipse.emf.converter"/>
		<feature id="org.eclipse.emf.converter.source"/>
		<feature id="org.eclipse.emf.databinding"/>
		<feature id="org.eclipse.emf.databinding.edit"/>
		<feature id="org.eclipse.emf.databinding.edit.source"/>
		<feature id="org.eclipse.emf.databinding.source"/>
		<feature id="org.eclipse.emf.doc"/>
		<feature id="org.eclipse.emf.ecore"/>
		<feature id="org.eclipse.emf.ecore.edit"/>
		<feature id="org.eclipse.emf.ecore.edit.source"/>
		<feature id="org.eclipse.emf.ecore.editor"/>
		<feature id="org.eclipse.emf.ecore.editor.source"/>
		<feature id="org.eclipse.emf.ecore.source"/>
		<feature id="org.eclipse.emf.edit"/>
		<feature id="org.eclipse.emf.edit.source"/>
		<feature id="org.eclipse.emf.edit.ui"/>
		<feature id="org.eclipse.emf.edit.ui.source"/>
		<feature id="org.eclipse.emf.mapping"/>
		<feature id="org.eclipse.emf.mapping.ecore"/>
		<feature id="org.eclipse.emf.mapping.ecore.editor"/>
		<feature id="org.eclipse.emf.mapping.ecore.editor.source"/>
		<feature id="org.eclipse.emf.mapping.ecore.source"/>
		<feature id="org.eclipse.emf.mapping.source"/>
		<feature id="org.eclipse.emf.mapping.ui"/>
		<feature id="org.eclipse.emf.mapping.ui.source"/>
		<feature id="org.eclipse.emf.mwe2.language.sdk"/>
		<feature id="org.eclipse.emf.mwe2.launcher"/>
		<feature id="org.eclipse.emf.mwe2.launcher.source"/>
		<feature id="org.eclipse.emf.mwe2.runtime.sdk"/>
		<feature id="org.eclipse.emf.sdk"/>
		<feature id="org.eclipse.emf.source"/>
		<feature id="org.eclipse.equinox.p2.core.feature"/>
		<feature id="org.eclipse.equinox.p2.core.feature.source"/>
		<feature id="org.eclipse.equinox.p2.extras.feature"/>
		<feature id="org.eclipse.equinox.p2.extras.feature.source"/>
		<feature id="org.eclipse.equinox.p2.rcp.feature"/>
		<feature id="org.eclipse.equinox.p2.rcp.feature.source"/>
		<feature id="org.eclipse.equinox.p2.user.ui"/>
		<feature id="org.eclipse.equinox.p2.user.ui.source"/>
		<feature id="org.eclipse.help"/>
		<feature id="org.eclipse.help.source"/>
		<feature id="org.eclipse.platform"/>
		<feature id="org.eclipse.platform.source"/>
		<feature id="org.eclipse.rcp"/>
		<feature id="org.eclipse.rcp.source"/>
		<feature id="org.eclipse.xtend.sdk"/>
		<plugin id="com.google.gson"/>
		<plugin id="com.google.gson.source"/>
		<plugin id="com.google.guava"/>
		<plugin id="com.google.guava.source"/>
		<plugin id="com.google.inject"/>
		<plugin id="com.google.inject.source"/>
		<plugin id="com.sun.jna.platform.source"/>
		<plugin id="com.sun.jna.source"/>
		<plugin id="io.github.classgraph"/>
		<plugin id="io.github.classgraph.source"/>
		<plugin id="org.antlr.runtime.source"/>
		<plugin id="org.apache.commons.cli"/>
		<plugin id="org.apache.commons.cli.source"/>
		<plugin id="org.apache.commons.codec.source"/>
		<plugin id="org.apache.commons.lang.source"/>
		<plugin id="org.apache.httpcomponents.httpclient.source"/>
		<plugin id="org.apache.httpcomponents.httpclient.win.source"/>
		<plugin id="org.apache.httpcomponents.httpcore.source"/>
		<plugin id="org.apache.log4j.source"/>
		<plugin id="org.eclipse.ant.launching"/>
		<plugin id="org.eclipse.ant.launching.source"/>
		<plugin id="org.eclipse.ant.ui"/>
		<plugin id="org.eclipse.ant.ui.source"/>
		<plugin id="org.eclipse.draw2d"/>
		<plugin id="org.eclipse.draw2d.source"/>
		<plugin id="org.eclipse.ecf.filetransfer.source"/>
		<plugin id="org.eclipse.ecf.identity.source"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient45.source"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient45.win32.source"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
		<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
		<plugin id="org.eclipse.ecf.source"/>
		<plugin id="org.eclipse.ecf.ssl.source"/>
		<plugin id="org.eclipse.emf.mwe.core"/>
		<plugin id="org.eclipse.emf.mwe.core.source"/>
		<plugin id="org.eclipse.emf.mwe.utils"/>
		<plugin id="org.eclipse.emf.mwe.utils.source"/>
		<plugin id="org.eclipse.jdt.core"/>
		<plugin id="org.eclipse.jdt.core.manipulation"/>
		<plugin id="org.eclipse.jdt.core.manipulation.source"/>
		<plugin id="org.eclipse.jdt.core.source"/>
		<plugin id="org.eclipse.jdt.debug"/>
		<plugin id="org.eclipse.jdt.debug.source"/>
		<plugin id="org.eclipse.jdt.debug.ui"/>
		<plugin id="org.eclipse.jdt.debug.ui.source"/>
		<plugin id="org.eclipse.jdt.junit"/>
		<plugin id="org.eclipse.jdt.junit.core"/>
		<plugin id="org.eclipse.jdt.junit.core.source"/>
		<plugin id="org.eclipse.jdt.junit.runtime"/>
		<plugin id="org.eclipse.jdt.junit.runtime.source"/>
		<plugin id="org.eclipse.jdt.junit.source"/>
		<plugin id="org.eclipse.jdt.launching"/>
		<plugin id="org.eclipse.jdt.launching.source"/>
		<plugin id="org.eclipse.jdt.ui"/>
		<plugin id="org.eclipse.jdt.ui.source"/>
		<plugin id="org.eclipse.pde.build"/>
		<plugin id="org.eclipse.pde.build.source"/>
		<plugin id="org.eclipse.pde.core"/>
		<plugin id="org.eclipse.pde.core.source"/>
		<plugin id="org.eclipse.pde.launching"/>
		<plugin id="org.eclipse.pde.launching.source"/>
		<plugin id="org.eclipse.pde.ui"/>
		<plugin id="org.eclipse.pde.ui.source"/>
		<plugin id="org.eclipse.ui.trace"/>
		<plugin id="org.eclipse.ui.trace.source"/>
		<plugin id="org.eclipse.xpand"/>
		<plugin id="org.eclipse.xpand.source"/>
		<plugin id="org.eclipse.xtend"/>
		<plugin id="org.eclipse.xtend.typesystem.emf"/>
		<plugin id="org.hamcrest.core"/>
		<plugin id="org.hamcrest.core.source"/>
		<plugin id="org.junit"/>
		<plugin id="org.junit.source"/>
		<plugin id="org.objectweb.asm"/>
		<plugin id="org.objectweb.asm.source"/>
		<feature id="org.eclipse.xtext.xbase.lib"/>
	</includeBundles>
</target>