<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="CMS discover target platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
			<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.16/"/>
			<unit id="org.eclipse.platform.ide" version="4.16.0.I20200604-0540"/>
			<unit id="org.eclipse.platform.sdk" version="4.16.0.I20200604-0540"/>
			<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.900.v20200525-1407"/>
			<unit id="org.eclipse.cvs.feature.group" version="1.4.1400.v20200604-0540"/>
			<unit id="org.eclipse.cvs.source.feature.group" version="1.4.1400.v20200604-0540"/>
			<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.16.0.v20200522-1402"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.800.v20200514-1529"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.600.v20200521-1852"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.source.feature.group" version="1.2.600.v20200521-1852"/>
			<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.800.v20200602-1138"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.200.v20200528-0603"/>
			<unit id="org.eclipse.jdt.core.compiler.batch" version="3.22.0.v20200530-2032"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.400.v20200604-0540"/>
			<unit id="org.eclipse.jdt.source.feature.group" version="3.18.400.v20200604-0540"/>
			<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="1.0.700.v20190929-1236"/>
			<unit id="org.eclipse.pde.feature.group" version="3.14.400.v20200604-0540"/>
			<unit id="org.eclipse.pde.source.feature.group" version="3.14.400.v20200604-0540"/>
			<unit id="org.eclipse.rcp.configuration.feature.group" version="1.1.900.v20200604-0540"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.16.0.v20200604-0951"/>
			<unit id="org.eclipse.rcp.source.feature.group" version="4.16.0.v20200604-0951"/>
			<unit id="org.eclipse.releng.tools.feature.group" version="3.10.800.v20200422-1752"/>
			<unit id="org.eclipse.releng.tools.source.feature.group" version="3.10.800.v20200422-1752"/>
			<unit id="org.eclipse.sdk.examples.source.feature.group" version="4.16.0.v20200604-0540"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.16.0.v20200604-0951"/>
			<unit id="org.eclipse.sdk.ide" version="4.16.0.I20200604-0540"/>
			<unit id="org.eclipse.sdk.tests.feature.group" version="4.16.0.v20200604-0540"/>
			<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.107.800.v20200522-1037"/>
			<unit id="org.eclipse.swt.tools.feature.source.feature.group" version="3.107.800.v20200522-1037"/>
			<unit id="org.eclipse.test.feature.group" version="3.7.1100.v20200513-0959"/>
			<unit id="org.eclipse.tips.feature.feature.group" version="0.2.1000.v20200522-1444"/>
			<unit id="org.eclipse.tips.feature.source.feature.group" version="0.2.1000.v20200522-1444"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2020-06"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.22.0.v20200519-1135"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/composite/marketplace/"/>
			<unit id="org.eclipse.xtend.sdk.feature.group" version="2.25.0.v20210301-1429"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210301-1429"/>
		</location>
	</locations>
</target>