<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmsGenericModel -->
      <package
            uri="http://edu.uoc.som.genericmodel"
            class="edu.uoc.som.cmsdiscover.GenericModel.GenericModelPackage"
            genModel="model/cmsGenericModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmsGenericModel -->
      <package
            uri="http://edu.uoc.som.cmsdiscoverer.genericmodel"
            class="edu.uoc.som.cmsdiscover.GenericModel.genericSchema.GenericSchemaPackage"
            genModel="model/cmsGenericModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmsGenericModel -->
      <package
            uri="http://user"
            class="edu.uoc.som.cmsdiscover.GenericModel.user.UserPackage"
            genModel="model/cmsGenericModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmsGenericModel -->
      <package
            uri="http://workflowmodel"
            class="edu.uoc.som.cmsdiscover.GenericModel.features.moderation.ModerationPackage"
            genModel="model/cmsGenericModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmsGenericModel -->
      <package
            uri="revisions"
            class="edu.uoc.som.cmsdiscover.GenericModel.features.revisions.RevisionsPackage"
            genModel="model/cmsGenericModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmsGenericModel -->
      <package
            uri="translations"
            class="edu.uoc.som.cmsdiscover.GenericModel.features.translations.TranslationsPackage"
            genModel="model/cmsGenericModel.genmodel"/>
   </extension>
</plugin>
